* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.adopt-a-dog h2 {
    margin: 10px;
}

.border {
    background-color: darkblue;
    color: white;
    padding: 7px 7px 7px 30px;
    font-size: xx-large;
    line-height: 3;
}

.options {
    display: flex;
    justify-content: flex-start;
}

.dog-options {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    max-width: 100%;
    grid-column: auto;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    list-style: none;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    background-color: aqua;
    display: inline;
    flex-wrap: wrap;
}

.bottom {
    text-align: center;
    flex: auto;
    height: 300px;
} 

.donate {
    background: linear-gradient(rgba(30, 9, 110, 0.8), rgba(30, 9, 110, 0.8)), no-repeat center/cover url('starter_files/images/donate.jpg');
}

.volunteer {
    background: linear-gradient(rgba(30, 9, 110, 0.8), rgba(30, 9, 110, 0.8)), no-repeat center/cover url('starter_files/images/volunteer.jpg');
}

.our-location {
    background: linear-gradient(rgba(30, 9, 110, 0.8), rgba(80, 50, 202, 0.8)), no-repeat center/cover url('starter_files/images/location.png');
}

.bottom-border {
    display: flex;
    color: white;
}

.big-dog-box h3 {
    padding: 10px;
}

.big-dog-box img {
    max-width: 200px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    max-width: 100%;
    color: white;
}

.inner-entire-page {
    background-color: lightgray;
}